<div ng-controller="uDrive.SettingsController">
    <div class="umb-pane">
        <h4>
            <localize key="analytics_settings">Settings</localize>
        </h4>
        <div ng-hide="hasAuth">
            <umb-control-group label="Authorisation" description="Login with Google via oAuth to verify">
                <button class="btn btn-success" ng-click="auth()"><i class="icon-lock"></i> Authorise</button>
            </umb-control-group>
        </div>
        <div ng-show="hasAuth">
            <umb-control-group ng-repeat="setting in settings" label="{{ setting.Label }}" description="{{ setting.Description }}">
                <input readonly="readonly" type="text" name="{{ setting.Key }}" id="{{ setting.Key }}" value="{{ setting.Value }}" ng-model="setting.Value"/>
            </umb-control-group>
        </div>

        <div class="umb-tab-buttons" ng-hide="hasAuth">
            <div class="btn-group">
                <button ng-click="save(settings)" data-hotkey="ctrl+s" class="btn btn-success">
                    <localize key="buttons_save">Save</localize>
                </button>
            </div>
        </div>

    </div>
</div>