<div ng-controller="uDrive.FilesController">
    <div class="umb-pane">
        <h1>{{title}}</h1>        
        <div class="control-group umb-control-group">
            <div class="controls row">
                <div>
                    <hr />
                    <h5><localize key="udrive_name"></localize>:  {{userInfo.DisplayName}}</h5>
                    <h5><localize key="udrive_emailAddress"></localize>: {{userInfo.EmailAddress}} </h5>
                    <img ng-src="{{userInfo.PhotoLink}}" />
                </div>
            </div>           
        </div>
        <div class="umb-packages-section">
            <div class="umb-packages clearfix">
                <div class="umb-package" ng-repeat="file in driveData.Files">
                    <a class="umb-package-link" href="">
                        <div class="umb-package-icon">
                            <img ng-src="{{file.ThumbnailLink}}" alt="{{file.Name}}" />
                        </div>
                        <div class="umb-package-info">
                            <div class="umb-package-name">{{file.Name}}</div>
                            <div class="umb-package-description"></div>
                            <div class="umb-package-numbers">
                                <small class="umb-package-downloads">
                                    <i class="icon-download-alt"></i> <strong></strong>
                                </small>
                                <small class="umb-package-likes">
                                    <i class="icon-hearts"></i> <strong></strong>
                                </small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>