<?xml version="1.0" encoding="utf-8"?>
<uDrive>
  <ClientId label="Client ID" description="This is the Client ID key from Google API">217171030721-m905n52jb4trpipnvjvbvcu1qgcdmd41.apps.googleusercontent.com</ClientId>
  <ClientSecret label="Client Secret" description="This is the Client Secret from the Google API">6CQYRo3HfcVR-c9DMXoO1LHS</ClientSecret>
  <RefreshToken label="Refresh Token" description="The refresh token used to acquire new access tokens. This is sensitive information">1/ZO6w69_Vvp3EHqApVviA_C_jopK_4KTDdK6VtCqkoPI</RefreshToken>
</uDrive>